/* blau SpaceX: #005288, L #2072A8 D #003268 */
/* gris SpaceX: #A7A9AC, L #C7C9CC D #87898C */

html,
body {
	background-color: #A7A9AC;	
	font-family: Arial, Helvetica, sans-serif;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

.allViews {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background-color: #A7A9AC;
	overflow:hidden;
}

.rowTopBar {
	background-color: #A7A9AC;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

.rowTopBar1 {
	float:left;
}

.rowTopBar2 {
	float:right;
}

.channels {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	min-width: 20%;
	min-height: 20%;
}

.channelSelect {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #005288;
	color: white;
	outline: none;
	left: 0px;
	top: 0px;
	width: 165px;
	height: 28px;
	max-height: 28px;
	border: 0px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.channelSelect5th {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #005288;
	color: white;
	outline: none;
	left: 0px;
	top: 0px;
	width: 165px;
	height: 28px;
	max-height: 28px;
	border: 0px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

/*
select:focus > option:hover { background: #2072A8 !important; opacity: 1.0;}
select:focus > option:checked { background: #003268 !important; opacity: 1.0;}

select:hover {
	border: 1px solid #A7A9AC;
}

.channelSelect {
	cursor: pointer;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #005288;
	color: white;
	outline: none;
	left: 0px;
	top: 0px;
	width: 165px;
	height: 28px;
	border: 0px;
	font-size: 12px;
}

.channelSelect5th {
	cursor: pointer;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	background-color: #005288;
	color: white;
	outline: none;
	left: 0px;
	top: 0px;
	width: calc(100% - 28px);
	height: 28px;
	border: 0px;
	font-size: 12px;
}

.channelSelect:focus {
	background-color: #005288;
}

.channelSelect5th:focus {
	background-color: #005288;
	
}
*/

#optionsIcons {
	left:calc(100% - 56px);
	top:28px;
	position: absolute;
	min-width: 28px;
	max-width: 56px;
	float: right;
	z-index: 20000;
	background-color: #005288;
}

.iconGroup {
	float: right;
}

.icon,.icon2 {
	white-space: nowrap;
	cursor: pointer;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	min-height: 28px;
	max-height: 28px;
	min-width: 28px;
	max-width: 28px;
	border: 0px;
	float: right;
	z-index: 10000;
	background-color: #005288;
}

.icon:hover {
	border: 1px solid #A7A9AC;
}

.iconLabel {
	white-space: nowrap;
	border-spacing: 0px;
	padding: 0px 2px 0px 2px;	
	min-height: 28px;
	max-height: 28px;
	height: 28px;
	max-width: auto;
	background-color: #2072A8;
	color: white;
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border: 0px;
	float: right;
	z-index: 10000;
}

.iconLabel2 {
	white-space: nowrap;
	border-spacing: 0px;
	padding: 0px 2px 0px 2px;	
	min-height: 28px;
	max-height: 28px;
	height: 28px;
	max-width: auto;
	background-color: #003268;
	color: white;
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border: 0px;
	float: right;
	z-index: 10000;
}

.iconLabel3 {
	white-space: nowrap;
	border-spacing: 0px;
	padding: 0px 2px 0px 2px;	
	min-height: 28px;
	max-height: 28px;
	height: 28px;
	max-width: auto;
	background-color: #005288;
	color: white;
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	border: 0px;
	float: right;
	z-index: 10000;
}

.rssTextScroll {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	min-height: 28px;
	max-height: 28px;
	height: 28px;
	background-color: #2072A8;
	color: white;
	border: 0px;
	z-index: 10000;
	white-space: nowrap;
	overflow: hidden;
}

#rssTextScrollContent {
	cursor: pointer;
	background-color: transparent;
	line-height: 27px;
	font-size: 14px;
	border: 0px;
	width: max-content;
	padding-left: 100%;
	white-space: nowrap;
	animation: rssTextScrollContent 40s linear infinite;
}

#rssTextScrollContent:hover {
	animation-play-state: paused
}

@keyframes rssTextScrollContent {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

#contact {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px;
	z-index: 300000;
	visibility: hidden;
	border: 1px solid #003268;
	background-color: #005288;
	color: white;
	overflow: auto;
}

.contactMessage {
	padding: 0px;
	margin: 0px;
	border: 0px
}

.contactMessage .contactMessageText {
	resize: none;
	outline: none;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#aboutus {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px;
	z-index: 300000;
	visibility: hidden;
	border: 1px solid #003268;
	background-color: #005288;
	color: white;
	overflow: auto;
}

#load {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px;
	z-index: 300000;
	visibility: hidden;
	border: 1px solid #003268;
	background-color: #005288;
	color:white;
	overflow: auto;
}

.myButton {
	background-color: #003268;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 8px 14px;
}

.myButton:hover {
	background-color: #2072A8;
}

.myButton:active {
	position: relative;
	top: 1px;
}

#loading-screen {
	position: absolute;
	z-index: 20000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
	transition: 1s opacity;
	visibility: hidden;
}

#loading-screen.fade-out {
	opacity: 0;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 5%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #005288;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #003268;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #2072A8;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A7A9AC;
}

::-webkit-scrollbar-thumb:hover {
  background: #C7C9CC;
}

::-webkit-scrollbar-corner {
  background: #A7A9AC;
}

.blinking {
    animation:blinkingText 1.2s 6;
}
@keyframes blinkingText{
    0%{   color: white; }
    69%{  color: red; text-shadow: 1px 1px #000; }
    100%{ color: white; }
}