html, body {
	background-color: gray;
	font-family: Arial, Helvetica, sans-serif;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;	
	height: 100%;
}

.allViews {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}

.channels {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	min-width: 20%;
	min-height: 20%;
}

.channelSelect {
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;  
  background-color: silver;
  width: 220px;
  height: 28px;  
  border: 1px solid black;
}
.channelSelect5th {
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;  
  background-color: silver;
  width: 200px;
  height: 28px;  
  border: 1px solid black;
}
.channelSelect:focus {
  outline: none;
  border: 2px solid black;
}
.channelSelect5th:focus {
  outline: none;
  border: 2px solid black;
}

.iconPopUp {
    min-width: 28px;
    max-width: 56px;
	float: right;
	z-index: 10000;
}

.iconGroup {
	float: right;
}

.icon {
	white-space:nowrap;
	cursor: pointer;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
    min-height: 28px;
	max-height: 28px;
    min-width: 28px;
    max-width: 28px;
	border: 0px;
	float: right;
	z-index: 10000;
}

.iconLabel {
	white-space:nowrap;
	border-spacing: 0px;
	padding: 0px 1px 0px 1px;
	margin: 0px 1px 0px 0px;
    min-height: 28px;
	max-height: 28px;    
	height: 28px;	
    max-width: auto;
    background-color: #F6F5D7;
	text-align: center;	
	line-height: 13px;
	font-size: 10px;
	border: 1px solid black;
	float: right;
	z-index: 10000;
}

.rssTextScroll {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
    min-height: 28px;
	max-height: 28px;    
	width: inherit;
	height: 28px;
    background-color: #D7F5F6;
	line-height: 26px;
	font-size: 16px;	
	border: 1px solid black;	
	z-index: 10000;
}

#contact { 
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);  
	padding: 10px;    
	z-index: 300000;	
	visibility: hidden;
	border: 1px solid black;
	background-color: #AAA;
	overflow: auto;
}
.contactMessage {
  padding: 0px;
  margin: 0px;
  border: 0px  
}
.contactMessage .contactMessageText {
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#aboutus { 
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);  
	padding: 10px;    
	z-index: 300000;	
	visibility: hidden;
	border: 1px solid black;
	background-color: #AAA;
	overflow: auto;
}

#load { 
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);  
	padding: 10px;    
	z-index: 300000;	
	visibility: hidden;
	border: 1px solid black;
	background-color: #AAA;
	overflow: auto;
}

.myButton {
	background-color:gray;
	border-radius:15px;
	border: 2px solid #black;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:8px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
}
.myButton:hover {
	background-color:silver;
}
.myButton:active {
	position:relative;
	top:1px;
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
	visibility: hidden;
}
#loading-screen.fade-out {
    opacity: 0;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 15%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #70DB93;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #55D3BA;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00FFFF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}