html, body {
	background-color: #A7A9AC;
	font-family: Arial, Helvetica, sans-serif;
	border-spacing: 0px;
	padding: 2px;
	margin: 0px;	
	height: 100%;
}

.myButton {
	background-color: #003268;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 8px 14px;
}

.myButton:hover {
	background-color: #2072A8;
}

.myButton:active {
	position: relative;
	top: 1px;
}
